<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit A User</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>


<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/create">Create Users</a>
    </div>

    <div class="form-add-new">
        <Form action="/update-user" method="post">
            <fieldset>
                <legend>Update A User</legend>
                <div class="d-none">
                    <label class="label">Id:</label>
                    <input type="text" id="Id" name="userId" value="<%= userEdit.id %>">
                </div>
                <div class="input-group">
                    <label class="label">Email:</label>
                    <input type="text" id="emailId" name="email" value="<%= userEdit.email %>">
                </div>
                <div class="input-group">
                    <label class="label">Name:</label>
                    <input type="text" id="nameId" name="name" value="<%= userEdit.name %>">
                </div>
                <div class="input-group">
                    <label class="label1">City: </label>
                    <input type="text" id="cityId" name="city" value="<%= userEdit.city %>">
                </div>
                <div class="div-button">
                    <button>Save</button>
                </div>
            </fieldset>
        </Form>
    </div>


</body>

</html>